@page
@model CoreLMS.Web.Areas.Admin.Pages.Home.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Home Pages</h1>
<h4>Click buttons for each function</h4>

<p>
    <a class="btn btn-success" href="javascript:syncFromClockify()">Sync from Clockify</a>
</p>
@section Scripts{
    <script language="javascript">
    function syncFromClockify(){
        $.post(
            url:"",
            data:{},
            function(data, status){
            }
        )
    }

    </script>
    
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Routers[0].Controller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Routers[0].Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Routers[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Routers[0].Method)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Routers[0].Template)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Routers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Controller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Method)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Template)
            </td>
            
        </tr>
}
    </tbody>
</table>